.search-button .ant-input-group {
  width: 100%;
  background-color: rgb(17, 8, 65) !important;
  border-radius: 5px !important;
}
/* Placeholder */
.search-button input::placeholder {
  color: gray !important;
}

/* Botón/ícono al final (el cuadrado) */
.search-button .ant-input-group-addon {
  background-color: rgb(0, 0, 0) !important;
  border: none !important;
  border-radius: 5px !important;
}

/* Ícono dentro del cuadrado */
.search-button .anticon {
  color: gray !important;
  font-size: 18px !important;
  font-weight: bold !important;
  background-color: rgb(17, 8, 65) !important;
  width: 29.5px !important;
  height: 29.5px !important;
  border-radius: 15px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: background-color 0.3s ease !important;
}

.search-button input {
  background-color: rgb(17, 8, 65) !important;
  color: rgb(210, 210, 210) !important;
  border-radius: 5px !important;
}

.search-button input::placeholder {
  color: rgb(213, 213, 213) !important;
}

.search-button span {
  background-color: rgb(17, 8, 65) !important;
  color: gray !important;
  font-weight: bold !important;
  border-radius: 5px !important;
}

.search-button span:hover {
  color: rgb(25, 0, 255) !important;
}
