.layout-page {
  display: grid;
  grid-template-areas:
    'aside header'
    'aside main'
    'footer footer';
  grid-template-columns: 257px 1fr;
  grid-template-rows: 50px 1fr 40px;
  height: 98.5vh;
  overflow: hidden;
  transition: grid-template-columns 0.3s ease;
}

/* Aside colapsado: solo íconos */
.layout-page.collapsed {
  grid-template-columns: 82px 1fr;
}

.aside-layout {
  grid-area: aside;
  overflow-y: hidden;
  transition: width 0.3s ease;
  background-color: #f7f9fc;
  border-right: 1px solid #ccc;
}

.header-page {
  grid-area: header;
  background-color: #001f3f;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.main-layout {
  grid-area: main;
  background-color: #f0f2f5;
  padding: 4px;
  overflow-y: auto;
}

.footer-layout {
  grid-area: footer;
  background-color: #001f3f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenedor principal del contenido (scrollable) */
.content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  height: 97.7%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* Header: caja de acciones */
.header-page-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  color: white;
}

.header-page-search {
  margin-right: 10px;
}

.header-page-icons {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: rgb(218, 218, 218);
  position: relative;
  font-size: 1px;
}

.header-page-icons span {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-page-icons span p {
  margin: 0;
  font-size: 11px;
  text-align: center;
  padding: 1px;
}

.header-page-icons:hover {
  color: #ffffff;
}
/* Responsive: colapsa aside en móvil, pero no lo oculta */
@media (max-width: 768px) {
  .layout-page,
  .layout-page.collapsed {
    grid-template-areas:
      'aside header'
      'aside main'
      'aside footer';
    grid-template-columns: 82px 1fr; /* aside fijo a la izquierda */
    grid-template-rows: 50px 1fr 40px;
  }

  .aside-layout {
    width: 82px !important;
  }
}

