.notification-content-drawer {
  background-color: #f8fafc;
  width: 100%;
  position: relative;
}

.notification-item {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.notification-item:hover {
  background-color: #e6f0fa;
}

.time-notification {
  color: #3b82f6;
  margin-right: 10px;
  width: 100%;
  position: absolute;
}

.time-icon {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.time-icon p {
  margin: 5px 10px;
  padding: 0;
  font-size: 12px;
  color: #6b7280;
}

.notification-content-body {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 8px 0;
}

.notification-logo span {
  font-weight: bold;
  font-size: 2.7rem;
  color: #4b5563;
  display: flex;
  align-items: center;
}

.notification-content {
  width: 100%;
  margin-left: 10px;
}

.notification-title {
  font-weight: bold;
  color: #1f2937;
}

.notification-description {
  color: #6b7280;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}
