.details-notifications {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notification-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.id-notification{
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 10px !important;
  color: red !important;
}