.change-password-content {
  display: block;
  justify-content: center;
  align-items: center;
}

.change-password-title {
  text-align: center;
  border-bottom: 1px solid #e2e8f0;
  margin: 10px;
  padding: 10px;
}

.change-password-form {
  margin: 0 auto;
  width: 80%;
}

.buttons-change-password {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 15px;
}

.forgot-password-option {
  color: blue;
  font-weight: 500;
}

.forgot-password-option:hover {
  color: rgb(106, 35, 229);
}
